@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success text-bold">Welcome to our Online Survery Application</h1>
    <p>
        Welcome to our online survey application! We value your opinions and feedback, and we're excited to hear your thoughts. This survey aims to gather valuable insights and improve our products/services based on your experiences.

        Your participation is crucial in helping us better understand your needs and preferences. The survey will only take a few minutes to complete, and your responses will remain confidential.

        Thank you for taking the time to share your thoughts with us. Let's get started!
    </p>
    <button class="btn btn-info">Start Survey</button>
</div>
